
*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 3px;; padding: 2px;;
    text-transform:inherit;
    transition: .2s linear;
}

.container{
    background-image: url(bg2.jpeg);
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 25px;
    color:#fff;
    font-size: 60px;
}

.container .heading:hover{
    letter-spacing: 1px;
}

.container .para{
    color: rgb(44, 172, 65);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
}


.container .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:25px;
}

.container .box-container .box{
    border-radius: 10px;
    background: rgb(255, 255, 255);
    text-align: center;
    padding:30px 30px;
}

.container .box-container .box h3{
    color:rgb(78, 58, 190);
    font-size: 25px;
    padding:10px 0;
}

.container .box-container .box p{
    color:rgb(196, 52, 33);
    font-size: 15px;
    line-height: 2;
}

.container .box-container .box .btn{
    margin-top: 20px;
    display:inline-table;
    background:rgb(22, 187, 173);
    color:rgb(8, 10, 10);
    font-size: 17px;
    border-radius: 8px;
    padding: 8px 25px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}


.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}
